.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}